# IDE junk files
.idea/*
*.pyc
*~
#*#
tmp*
ec2/logs/*
ec2/logs_old/*
ec2/hosts
*_keys
*.keys

# Unit test / coverage reports
.cache
.coverage
.coverage.*
coverage.xml
htmlcov/
.pytest_cache

# Sphinx documentation
docs/_build/


*.log

*.out

syntactictests/

crypto/cryptoprimitivetests/crypto_primitive_tests.py

*.config

keys/ePK.key

keys/eSK-0.key

keys/eSK-1.key

keys/eSK-2.key

keys/eSK-3.key

keys/sPK.key

keys/sPK1.key

keys/sPK2-0.key

keys/sPK2-1.key

keys/sPK2-10.key

keys/sPK2-11.key

keys/sPK2-12.key

keys/sPK2-13.key

keys/sPK2-14.key

keys/sPK2-15.key

keys/sPK2-2.key

keys/sPK2-3.key

keys/sPK2-4.key

keys/sPK2-5.key

keys/sPK2-6.key

keys/sPK2-7.key

keys/sPK2-8.key

keys/sPK2-9.key

keys/sSK-0.key

keys/sSK-1.key

keys/sSK-2.key

keys/sSK-3.key

keys/sSK1-0.key

keys/sSK1-1.key

keys/sSK1-2.key

keys/sSK1-3.key

keys/sSK2-0.key

keys/sSK2-1.key

keys/sSK2-10.key

keys/sSK2-11.key

keys/sSK2-12.key

keys/sSK2-13.key

keys/sSK2-14.key

keys/sSK2-15.key

keys/sSK2-2.key

keys/sSK2-3.key

keys/sSK2-4.key

keys/sSK2-5.key

keys/sSK2-6.key

keys/sSK2-7.key

keys/sSK2-8.key

keys/sSK2-9.key
